@use '/fsd-4shared/configered-styles/mixins' as mixins;

.article {
    width: 100%;
    max-width: 405px;
    aspect-ratio: 400 / 478;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.figure {
    max-width: 405px;
    max-height: 424px;
    aspect-ratio: 405 / 424;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.compose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #5d4839;
    h2 {
        font-size: 1.125rem;
        font-weight: 400;
        display: inline-block;
    }
    span {
        color: #5D483980;
    }
}

