@use '/fsd-4shared/configered-styles/mixins' as mixins;
.nav {
    z-index: 600;
    width: 500px;
    padding: 77px;
    height: 100vh;
    display: flex;
    gap: 60px;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    @include mixins.transform(0, -100%);
    @include mixins.transition()
}

.open {
    @include mixins.transform();
    @include mixins.transition()
}
.autor,
.buttons,
.head,
.links {
    z-index: 999;
}

.head {
    display: flex;
    gap: 30px;
    align-items: center;
    button {
        border: 0;
        background-color: transparent;
    }
}

.links {
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    button {
        color: #fff;
        height: 50px;
        width: 355px;
        border: 0;
        background-color: #000;
        &:last-child {
            background-color: #B3B3B3;
        }

    }
}

.blocker {
    width: 100vw;
    height: 100vh;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
}

.autor {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    left: 30px;
    span {
        font-weight: 200;
        margin-right: 10px;
        color: #000;
        &:nth-of-type(2) {
            color: #777575;
            font-size: 0.625rem;
        }
    }
}

.mobile {
    display: none;
}

@media (max-width:620px) {
    .nav {
        width: 100%;
        padding: 5%;
        gap: 40px;
    }
    .head {
        width: 100%;
        padding: 10px;
        gap: 10px;
        button {
            svg {
                width: 21px;
                height: 21px;
            }
        }
        svg {
            width: 96px;
            height: 20px;
        }
    }

    .links {
        font-size: 0.625rem;
    }

    .buttons {
        gap: 10px;
        align-items: center;
        button {
            height: 40px;
            width: 100%;
        }
    }
    .autor {
        display: none;
    }

    .mobile {
        border-top: 1px solid #797878;
        background: #fff;
        z-index: 901;
        width: 100%;
        height: 60px;
        max-width: 620px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        svg {
            width: 14px;
            height: 14px;
            mix-blend-mode: difference;
        }
        button {
            background: #fff;
            border: 0;
            background-color: transparent;
            margin: 0 10px;
            font-size: 0.625rem;
            &:first-child {
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: center;
            }
        }
    }

}
