@mixin transition($duration : 0.3s) {
    transition:$duration;
    -webkit-transition:$duration;
    -moz-transition:$duration;
    -ms-transition:$duration;
    -o-transition:$duration;
}

@mixin transform($x: 0px, $y: 0px){
    transform: translateY($x)translateX($y);
    -webkit-transform: translateY($x)translateX($y);
    -moz-transform: translateY($x)translateX($y);
    -ms-transform: translateY($x)translateX($y);
    -o-transform: translateY($x)translateX($y);
}