.section {
    z-index: 1;
    width: 100%;
    max-width: 1920px;
    aspect-ratio: 16 / 9;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.desktop {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.mobile {
    display: none;
}

.bottom_line,
.top_line {
    text-align: center;
    padding: 10px;
    width: 100%;
    color: #fff;
    background-color: #000;
    font-size: 0.875rem;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper_navigation {
    padding: 0 4%;
    color: #000;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: calc(50% - 73px);
    div {
        z-index: 310;
        cursor: pointer;
    }
}

.swiper_slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 620px) {
    .swiper_navigation {
        top: calc(50% - 9px);
        div {
            cursor: pointer;
            svg {
                height: 18px;
                stroke-width: 10;
            }
        }
    }

    .mobile {
        position: relative;
        display: flex;
        width: 100%;
    }

    .desktop {
        display: none;
    }

    .bottom_line,
    .top_line {
        padding: 1px;
        font-size: 0.625rem;

    }

}
