@use '/fsd-4shared/configered-styles/mixins' as mixins;
.section{
    width: 100%;
    position: relative;
    display: flex;
    max-width: 1920px;
    max-height: 1080px;
    overflow: hidden;

}

.swiper{
    width: 100%;
}

.swiper_slide {
    overflow: hidden;
    img{
        scale: 1.2;
        object-fit: cover;
        width: 100%;
        max-width: 1920px;
        aspect-ratio: 16 / 9;
        @include mixins.transform(-130px, -50px)
}
  }

  .overlay{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 116px;
    bottom: 116px;
    color: #fff;
    font-family: Arial;
    }

  .general_text{
    font-size: 3.125rem;
  } 

  .sub_text{
    font-size: 0.825rem;

  }