@use '/fsd-4shared/configered-styles/mixins' as mixins ;
  
.article{
    width: 100%;
    max-width: 400px;
    max-height: 660px;
    display: flex;
    flex-direction: column;
}

.figure {
    width: 100%; 
    aspect-ratio: 800/ 1200; 
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
  }

.compose{
    display: flex;
    justify-content: space-between;
}
.left_side{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    max-width: 370px; 
        a{
            font-size: 0.875rem;
            font-weight: 400;
        }
        span{
            font-size: 0.875rem;
            font-weight: 400;
        }
}

.right_side{
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        cursor: pointer;
        &:hover{
            fill: gold;
        }
    }
}